.input::-webkit-datetime-edit-fields-wrapper {
  display: flex;
  align-items: center;
}

.input::-webkit-calendar-picker-indicator {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
